.DS_Store
.ipynb_checkpoints
*.egg*
__pycache__
*.pkl
*.pickle

notebooks/dl/Graph
notebooks/spark/scripts/
notebooks/exercises/scripts/
TensorBoard/
.vscode/
# ignore lightning_logs folder in whatever directory
lightning_logs/

# Julia
Manifest.toml
/Project.toml
