bs4
findspark
holidays
lunarcalendar
matplotlib
nltk
opencv-python
openpyxl
pandas-datareader
pillow
plotly
python-dateutil
scikit-learn
seaborn
shap
statsmodels
tqdm
tsfresh
yellowbrick
tweepy
networkx
tensorflow
pandas
polars
pymongo
sqlalchemy
numpy
scipy
streamlit
watchdog
