bs4
findspark
holidays
jupyter
jupyterlab
jupyterthemes
LunarCalendar
matplotlib
msgpack
nbstripout
nltk
opencv-python
openpyxl
pandas
pandas-datareader
Pillow
plotly
python-dateutil
scikit-learn
scikit-surprise
seaborn
shap
statsmodels
tqdm
tsfresh
yellowbrick
tweepy
networkx
sktime
tensorflow
./library/